[phases.setup]
nixPkgs = ["python311", "nodejs-18_x", "ffmpeg"]

[phases.install]
cmds = [
  "pip install -r requirements.txt",
  "npm install"
]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "python app.py"
